body {
    background-color: rgb(80, 70, 80);
    max-height: 100vh;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 900px; */
    /* align-content: space-around; */
}

.color-btn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-style: none;
    outline-style: none;
    cursor: pointer;
    color: white;
    background-color: tomato;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow: black;
    -webkit-box-shadow: 2px 6px 62px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 62px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 62px 0px rgba(0, 0, 0, 0.75);
    text-transform: capitalize;
}

.copy {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-style: none;
    outline-style: none;
    cursor: pointer;
    color: white;
    background-color: tomato;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow: black;
    -webkit-box-shadow: 2px 6px 62px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 62px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 62px 0px rgba(0, 0, 0, 0.75);
    text-transform: capitalize;
    margin-top: 20px;
}

.color-btn:active {
    border-style: none;
    outline-style: none;
}